.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	flex: 1;
}

.container *:focus {
	outline: none !important;
}

.container *:focus-visible {
	outline: none !important;
}

.title {
	font-size: 2rem;
	font-weight: 400;
}

.fontSize {
	font-size: 1.1rem;
}

.tooltip {
	font-size: 1.2rem;
	color: var(--color-text-dark);
}

@media (max-width: 540px) {
	.fontSize {
		display: none;
	}

	.container {
		margin-right: -2.5rem;
	}
}
