.map {
	margin-top: 1rem;
	border-radius: 16px;
	height: 91%;
	overflow: hidden;
	grid-area: div3;
}

.wrap {
	padding: 8px;
}

:global(.leaflet-container) {
	font: inherit;
}

@media (max-width: 540px) {
	.map {
		display: none;
	}
}
