.containerTable {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
	font-size: 2rem;
	background-color: var(--color-bg);
	padding: 2rem;
	border-radius: 5px;
	font-weight: bold;
	color: var(--color-text-dark);
}

.containerLog {
	display: block;
	font-size: 2rem;
}

.diveTable {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
	padding: 3rem 2rem;
	border-bottom: 1px solid #eee;
}
.diveTable:last-child {
	border-bottom: none;
}
.container h2 {
	font-size: 2.5rem;
	color: var(--color-text);
	margin-bottom: 1.5rem;
}

.icon {
	display: flex;
	width: 2rem;
}

.preview {
	color: inherit;
}
.preview:focus,
.preview:active {
	outline: none;
	box-shadow: none;
}

.trash {
	margin-right: 1rem;
	cursor: pointer;
}

.diveTable > div:nth-child(1) {
	margin-left: -1rem;
}

@media (max-width: 990px) {
	.containerTable {
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
	}
	.diveTable {
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
	}

	.containerTable > div:nth-child(4),
	.diveTable > div:nth-child(4) {
		display: none;
	}
}

@media (max-width: 720px) {
	.containerTable {
		font-size: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 1.5rem;
	}
	.diveTable {
		font-size: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 3rem 1rem;
	}

	.containerTable > div:nth-child(4),
	.diveTable > div:nth-child(4) {
		display: none;
	}
	.diveTable > div:nth-child(1) {
		margin-left: 0rem;
	}

	.container h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 450px) {
	.containerTable {
		font-size: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 1.5rem;
	}
	.diveTable {
		font-size: 1.4rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 3rem 0.3rem;
		width: 100%;
	}

	.diveTable > div:nth-child(5) {
		font-size: 1.75rem;
	}

	.containerTable > div:nth-child(4),
	.diveTable > div:nth-child(4) {
		display: none;
	}

	.container h2 {
		font-size: 1.5rem;
	}
}
