.containerTable {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
	font-size: 2rem;
	background-color: var(--color-bg);
	padding: 2rem;
	border-radius: 5px;
	font-weight: bold;
	color: var(--color-text-dark);
}

.containerLog {
	display: block;
	font-size: 2rem;
}

.diveTable {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 0.3fr;
	padding: 1rem 2rem;
	border-bottom: 1px solid #eee;
}
.diveTable:last-child {
	border-bottom: none;
}
.container h2 {
	font-size: 2.5rem;
	color: var(--color-text);
	margin-bottom: 1.5rem;
}

.icon {
	width: 20px;
}

@media (max-width: 720px) {
	.containerTable {
		font-size: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 1.5rem;
	}
	.diveTable {
		font-size: 1.5rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 0.5rem 2rem;
	}

	.containerTable > div:nth-child(4),
	.diveTable > div:nth-child(4) {
		display: none;
	}

	.container h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 450px) {
	.containerTable {
		font-size: 1.2rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 1.5rem;
	}
	.diveTable {
		font-size: 1rem;
		grid-template-columns: 1fr 1fr 1fr 0.5fr;
		padding: 0.5rem 2rem;
	}

	.containerTable > div:nth-child(4),
	.diveTable > div:nth-child(4) {
		display: none;
	}

	.container h2 {
		font-size: 1.5rem;
	}
}
