.container {
	margin: 2rem;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr fr;
	gap: 16px;
	grid-template-areas:
		'div1 div1 div3 div3 '
		'div2 div2 div3 div3 '
		'div2 div2 div3 div3 ';
}

.averageContainer {
	margin-top: 2rem;
	display: flex;
	grid-area: div1;
	align-items: center;
	text-align: center;
	background-color: var(--color-bg);
	height: 100px;
	border-radius: 5px;
	font-size: 2rem;
	padding: 2rem;
	font-weight: 600;
}

.chartContainer {
	margin-top: 2rem;
	height: 240px;
	display: flex;
}

@media (max-width: 500px) {
	.gridContainer {
		display: flex;
		flex-direction: column;
	}

	.chartContainer {
		display: flex;
		flex-direction: column;
		height: 300px;
	}

	.averageContainer {
		font-size: 1.4rem;
		height: 50px;
	}
}
